body {
    display: flex;
    font-family: Roboto, sans-serif;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 12px;
    background-color: rgb(229, 177, 245)
}

.header {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
    font-size: 20px;
    padding: 0;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.heroCont {
    display: flex;
    padding: 150px 500px;
    justify-content: center;
    background-color:rgb(182, 203, 226);
    font-size: 16px;
}

.heroText {
    margin-right: 100px;
}

.heroText h2 {
    font-weight: normal;
}

.heroText h1 {
    font-size: 48px;
    margin: 0;
}

img {
    height: 300px;
}

button {
    background-color: rgb(203, 152, 240);
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

.infoCont {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    padding: 80px 300px;
}

.cards {
    display: flex;
    margin: 20px;
}

.cards ul {
    display: flex;
    color: black;
    gap: 48px;
}

.cards img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.quoteCont {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    padding: 150px 500px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 24px;
}

.quoteCont h3 {
    align-self: flex-end;
}

.callCont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 500px;
}

.call {
    display: flex;
    flex-flow: column wrap;
    background-color:rgb(64, 154, 250);
    color: white;
    padding:50px 200px;
    margin-bottom: 0px;
    border-radius: 12px;
    box-shadow: 3px 3px rgb(211, 211, 211);
}

.subButton {
    display: flex;
    align-items: center;
    gap: 70px;
}

.subButton button {
    font-size: 24px;
}

.call h2, h3 {
    margin: 0px;
}

.footer {
    display: flex;
    background-color: rgb(229, 177, 245);
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
}